body
{
    margin: 0;
    font-family: 'Zen Dots', cursive;
    color: white;
 background-color: #15314b;

}
.input-container
{
height:  15vh;
margin-top: 3vh;
margin-left: 27vw;
}
.task-container
{
 height : 85vh;
 color: white;
 text-align: center;
}
li{
    list-style: none;
    font-size: 1.25rem;
    background-color: blue;
    width: 60vh;
    height: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.input_box{
    font-family: 'Zen Dots', cursive;
    height: 60%;
    font-size: 1.25 rem;
}
.instructor{
    font-size: 1.5rem;
}
